absl-py==0.15.0
alabaster==0.7.12
albumentations==1.1.0
antlr4-python3-runtime==4.8
appdirs==1.4.4
argon2-cffi==21.1.0
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
black==21.7b0
bleach==4.1.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
chitra==0.0.21
clang==5.0
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cvzone==1.5.2
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.24
cytoolz==0.11.2
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1614995065708/work
dataclasses==0.8
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml==0.7.1
Deprecated==1.2.13
Django==3.2.8
dlib @ file:///D:/bld/dlib_1617441756307/work
docutils==0.17.1
emoji==1.6.1
entrypoints==0.3
filelock==3.4.0
Flask==1.1.2
flatbuffers==1.12
fonttools @ file:///D:/bld/fonttools_1638544580851/work
future==0.18.2
fvcore==0.1.5.post20211023
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.1
gunicorn==20.1.0
h5py==3.1.0
hydra-core==1.1.1
idna==3.3
image==1.5.33
imagecodecs-lite @ file:///D:/bld/imagecodecs-lite_1636571531275/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize==1.2.0
imantics==0.1.12
imgaug==0.4.0
importlib-metadata==4.8.1
importlib-resources==5.4.0
imutils @ file:///D:/bld/imutils_1639012497247/work
iopath==0.1.9
ipykernel==5.5.6
ipyparallel==7.1.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jedi==0.18.0
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema==3.2.0
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/kiwisolver_1635836925049/work
labelme2coco==0.1.2
lxml==4.6.4
Markdown==3.3.4
MarkupSafe @ file:///D:/bld/markupsafe_1635833748820/work
matplotlib @ file:///D:/bld/matplotlib-suite_1637205206478/work
mediapipe==0.8.9
mistune==0.8.4
munkres==1.1.4
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nose==1.3.7
notebook==6.4.5
numpy @ file:///D:/bld/numpy_1636145475359/work
oauthlib==3.1.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
omegaconf==2.1.1
opencv-contrib-python==4.5.4.58
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.58
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.2
pathspec==0.9.0
pickleshare==0.7.5
Pillow==8.4.0
pixellib==0.7.1
platformdirs==2.4.0
portalocker==2.3.2
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
pydot==1.4.2
Pygments==2.10.0
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.18.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyWavelets @ file:///D:/bld/pywavelets_1638210038797/work
pywin32==302
pywinpty==1.1.5
PyYAML @ file:///D:/bld/pyyaml_1636139977724/work
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
qudida==0.0.4
regex==2021.11.2
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.46
scikit-image @ file:///D:/bld/scikit-image_1639059601099/work
scikit-learn @ file:///D:/bld/scikit-learn_1636784145359/work
scipy @ file:///C:/bld/scipy_1637806996411/work
Send2Trash==1.8.0
sentencepiece==0.1.91
Shapely==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
tf-keras-vis==0.8.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
tifffile==2020.9.3
tokenizers==0.9.3
tomli==1.2.2
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch==1.10.0
tornado @ file:///D:/bld/tornado_1635819780833/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets==4.3.3
transformers==3.5.1
typed-ast==1.4.3
typeguard==2.13.0
typing-extensions==3.7.4.3
unicodedata2 @ file:///D:/bld/unicodedata2_1637177797776/work
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wrapt==1.12.1
xmljson==0.2.1
yacs==0.1.8
zipp==3.6.0
