
.main{
    text-align: center;
}


.header{

    font-size: 350%;
    color: white;
 
}

.font-text {
    font-family: 'Times New Roman';
}

.button-record{
    font-weight: bold;
    width: 70px;
    height: 70px;
    font-size: 20px;
    border: 10px;
    border-radius: 35px;
    margin: 18px;
    outline: none;
    margin:0 auto;
    display: block;
    border: black;
 
}