.body-{
    background-color: rgb(30,30,30);
   
}
.main{
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(30,30,30);
    color: white;
}

.result_pred{
    font-size: 40px;
    color: white;
    
    
}
.description-text{
    font-size: 20px;
}
.img{
    height: 50%;
    width: 100%;
}
